---
title: Home
heading: 'Studio Faustini'
lead: Da oltre trent'anni ci prendiamo cura dei nostri clienti.
---
<div>
  <h1>{{ heading }}</h1>
  <p>This is a Assemble Generator template using inuit. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a href="blog.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
</div>
